@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Wrapper{
  width: 80%;
  margin: 0 auto;
}
.CardItem{
  margin-bottom: 30px;
}
.CardItem:hover{
  transform: scale(1.1);
}

.btnAddMarket{
  background-color: bisque;
  position: absolute ;
  bottom: 0;
}

